*{
  box-sizing: border-box;
  margin: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9); /* Cor preta com 50% de transparência */
    background-blend-mode: darken; /* Mistura a cor com a imagem */
}
/* Estilização para navegadores com suporte a Webkit */
::-webkit-scrollbar {
  width: 2px; /* Largura do scrollbar */
  height: 12px; /* Altura do scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9); /* Cor do fundo do track */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* Cor do polegar */
  border-radius: 6px; /* Arredondamento do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background: black; /* Cor do polegar ao passar o mouse */
}

/* Para navegadores com suporte a scrollbar-color */
* {
  scrollbar-color: #a9a9a9 #000000; /* Polegar e trilha */
  scrollbar-width: thin; /* Reduz a largura */
}
